*.log*
*.pid
*.seed
*.pid.lock
lib-cov
coverage
.lock-wscript
build/Release
node_modules/
.node_repl_history
.env
.DS_Store
.idea/
*.iml
common/deploy/
common/temp/
common/autoinstallers/*/.npmrc
**/.rush/temp/

